<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake</title>
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div id="menu">
        <h1>🐍 Snake</h1>

        <p>
            Рекорд:
            <span id="menu-best-score">0</span>
        </p>

        <button id="play-btn">
            Играть
        </button>

        <p>Управление: WASD</p>
        <p>R — перезапуск после проигрыша</p>
    </div>

    <canvas id="game"></canvas>

    <script type="module" src="{{ url_for('static', filename='js/game.js') }}"></script>

</body>
</html>
